<head>
	<meta charset="UTF-8">
</head>
<h2>Folder content</h2>
<table>
<# foreach (StorageItem item in storageItems)
   { #>
      <tr><td> <#= item.ItemName #> </td>
          <td> <#= item.Hash #> </td></tr>
<# }
#>
</table>
