<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameworkData.Settings.SolutionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />            
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameworkData.Settings.SolutionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FrameworkData.Settings.SolutionSettings>
            <setting name="RootOfMediaFolder" serializeAs="String">
                <value>Z:\ImagesAndVideos</value>
            </setting>
            <setting name="FFmpegPath" serializeAs="String">
                <value>C:\MediaTools\ffmpeg.exe</value>
            </setting>
            <setting name="FFprobePath" serializeAs="String">
                <value>C:\MediaTools\ffprobe.exe</value>
            </setting>
            <setting name="ThumbnailsFolder" serializeAs="String">
                <value>Z:\Temp\Thumbnails</value>
            </setting>
            <setting name="BaseApiAddress" serializeAs="String">
                <value>http://192.168.0.103:9090/</value>
            </setting>
            <setting name="TelegramSubscribers" serializeAs="String">
                <value>{"astmus@live.com":506545376,"olgas88@live.com":355747145}</value>
            </setting>
        </FrameworkData.Settings.SolutionSettings>        
    </applicationSettings>
    <userSettings>
        <FrameworkData.Settings.SolutionSettings>
            <setting name="TelegramSecretKey" serializeAs="String">
                <value>688413717:AAELvIkuj37vBedxvzIgtWsjZio8_B4QlR0</value>
            </setting>
        </FrameworkData.Settings.SolutionSettings>
    </userSettings>
</configuration>